/*СБРОС СТИЛЕЙ И ШРИФТ*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}

/*СТИЛЬ ТЕЛА(КОНТЕЙНЕРА) ПРИЛОЖЕНИЯ*/
.todo-container {
    max-width: 600px;
    width: 100%;
    background: rgba(255,255,255);
    border-radius: 30px;
    padding: 30px;
    border: 1px solid rgba(255,255,255,0.5);
}

/*ПОЛОЖЕНИЕ ТЕЛА(КОНТЕЙНЕРА) ПРИЛОЖЕНИЯ НА СТРАНИЦЕ*/
body {
    background: linear-gradient(145deg, #f5f7fa 0%, #e9eef4 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/*ЗАГОЛОВОК*/
h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #1e293b;
    margin-bottom: 20px;
    align-items: center;
}

/*ПОЛЕ ВВОДА ЗАДАЧИ*/
.todo-form {
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
}
#todo-input {
    flex: 1;
    padding: 14px 20px;
    border: 2px solid #e2e8f0;
    border-radius: 50px;
    font-size: 1rem;
    background: white;
    transition: all 0.2s ease;
}
#todo-input:focus {
    border-color: #6366f1;
    box-shadow: 0 0 0 3px rgba(99,102,241,0.2);
}

/*КНОПКА ДОБАВИТЬ*/
#add-btn {
    padding: 14px 24px;
    background: #6366f1;
    color: white;
    border: none;
    border-radius: 50px;   
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: all 0.2s ease;
}
#add-btn:hover {
    background: #4f52e0;
    transform: scale(0.95);
}

/*КНОПКА ОЧИСТИТЬ ВСЁ*/
.todo-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    color: #475569;
}
#clear-all-btn {
    background: none;
    border: 1px solid #cbd5e1;
    padding: 8px 18px;
    border-radius: 30px;
    color: #64748b;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: all 0.2s;
}

/*ЗАДАЧИ*/
.todo-item {
    background: white;
    border-radius: 16px;
    padding: 12px 18px;
    display: flex;
    align-items: center;
    gap: 12px;  
    border: 1px solid #f1f5f9;
    
    transition: all 0.2s;
    animation: fadeIn 0.2s ease;
}
@keyframes fadeIn {
    from { 
        opacity: 0;
        transform: translateY(5px);
    }
    to { 
        opacity: 1;
        transform: translateY(0);
    }
}

/*ВЫПОЛНЕННЫЕ ЗАДАЧИ*/
.todo-text.completed {
    text-decoration: line-through;
    color: #94a3b8;
}

/*КНОПКА УДАЛЕНИЯ ЗАДАЧ*/
.delete-btn {
    background: none;
    border: none;
    font-size: 1rem;
    padding: 6px;
    
    cursor: pointer;
    color: #94a3b8;
    
    border-radius: 12px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: all 0.2s;
}
.delete-btn:hover {
    background: #f1f5f9;
    color: #dc2626;
    transform: scale(1.1);
}